body{
  background-color: #FF5700;
  text-align: center;
}

h1{
  font-size: 60px;
}

#info{
  font-size: 30px;
  text-align: center;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
#info ul{
  list-style-type: none;
}

.input-email ul{
  list-style-type: none;
}