body{
  background-color: #FF5700;
  text-align: center;
}

h1{
  font-size: 32px;
  font-family: "Erica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 3%;
}

#info{
  box-sizing: border-box;
  font-size: 15px;
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-style: normal;
  color: #800020;
  margin-bottom: 5%;
  background-color: #FFFDD0;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: 5% auto;
  /*box-shadow: 0 0 10px*/
}
#info ul{
  list-style-type: none;
}

h2{
  font-family: "Fredoka", sans-serif;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin-bottom: 0%;
}

#input-name{
  margin-bottom: .5%;
}

p{
  font-family: "Verdana", sans-serif;
  margin: 1%;
}

.button{
  background-color: green;
}

@media only screen and (min-width: 510px) {
  h1{
    font-size: 60px;
  }
  #info{
    font-size: 30px;
  }
  h2{
    font-size: 35px;
  }
}